* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  body {
    background-color: #f4f4f9;
    
  }
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background:#050281;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    transition: 0.3s;
  }
  .navbar.scrolled {
    background: #050281;
  }
  .navbar .logo {
    font-size: 22px;
    font-weight: bold;
  }
  .navbar ul {
    list-style: none;
    display: flex;
  }
  .navbar ul li {
    margin: 0 15px;
  }
  .navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
  }
  .navbar ul li a:hover {
    color: #ff9c07;
  }
  .search-bar {
    position: relative;
  }
  .search-bar input {
    padding: 8px;
    border: none;
    border-radius: 5px;
    outline: none;
  }
  .search-bar button {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #0000ff;
    cursor: pointer;
    font-size: 16px;
  }
  
  .dark-mode {
    background-color: #000016;
    color: white;
  }
  .dark-mode .navbar {
    background: #1a1a50;
  }
  .dark-mode .search-bar input {
    background-color: #333;
    color: white;
  }
  .dark-mode .search-bar button {
    color: white;
  }
  .dark-mode ul {
    background: #1a1a50;
  }
  .pricing {
    display: flex;
}

.plan {
  background: linear-gradient(135deg, #000000, #090366);
    padding: 20px;
  margin-top: 150px;
    border-radius: 20px;
    text-align: center;
    width: 250px;
  justify-content: space-between;
margin-left: 190px;
color: white;
}

.plan h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.plan p {
    font-size: 16px;
    margin: 0;
}
.sign-up {
  display: inline-block;
  padding: 12px 24px;
  font-size: 18px;
  color: white;
  background-color: #090366;
  text-decoration: none;
  border-radius: 20px;
  transition: 0.3s;
  margin-top: 20px;
}

.sign-up:hover {
  background-color: #0056b3;
}
.footer {
  background-color: #050281;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
